.cmmatchdate {
    text-align: center;
    background: #058235;
    color: #ffffff;
    font-size: 1.4em;
    padding: 0.5em 0;
}

.cmmatch_statustitle {
    width: 40px;
}
.cmmatches__sides {
    color: #000000;
    font-size: 1.0em;
    text-overflow: ellipsis;
    height: 35px;
}

.cmmatches__homeside {
    text-align: right;
    
}

.cmmatches__awayside {
    text-align: left;
    ::before: 
}

.cmmatches__status {
    text-align: right;
    width: 40px;
    height: 35px;
}

.cmmatches__scores {

    width: 60px;
    text-align: center;
    color: white;
}

.cmmatches__homewin {
    background: #058235;
    color: #ffffff;
    
}

.cmmatches__awaywin {
    background: #ff0000;
    color: #ffffff;
}
 
.cmmatches__draw {
    background: #efe460;
    color: #000000;
}