.cmmatchdate {
    text-align: center;
    background: #058235;
    color: #ffffff;
    font-size: 1.4em;
    padding: 0.5em 0;
}

.cmmatch_statustitle {
    width: 40px;
}

.cmmatches__sides {
    color: #000000;
    font-size: 1.0em;
    text-overflow: ellipsis;
    height: 35px;
}

.cmmatches__homeside {
    text-align: right;
}

.cmmatches__awayside {
    text-align: left;
    :: before:
}

.cmmatches__status {
    text-align: right;
    width: 40px;
    height: 35px;
}

.cmmatches__scores {
    width: 60px;
    text-align: center;
    color: white;
}

.cmmatches__homewin {
    background: #058235;
    color: #ffffff;
}

.cmmatches__awaywin {
    background: #ff0000;
    color: #ffffff;
}

.cmmatches__draw {
    background: #efe460;
    color: #000000;
}

.cmmatch {
    background: #000038;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    display: table;
    width: 100%;
}

.cmmatch_result {
}

.cmmatch_pushbacktime {
}

.cmmatch_hometeam {
    line-height: 60px;
}

.cmmatch_teamlogo {
    width: 55px;
    height: auto;
    padding: 5px;
    float: left;
}

.cmmatch_hometeamname {
    font-size: 1.6em;
    float: left;
    
    text-align: right;
    padding: 0px 15px 0px 10px;
}

.cmmatch_awayteam {
   
    line-height: 60px;
}

.cmmatch_awayteamname {
    font-size: 1.6em;
    float: left;
    
    text-align: right;
    padding: 0px 15px 0px 0px;
}

.cmmatch_homescore {
    background: #ff0000;
    font-size: 2em;
    width: 75px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    float: left;
}

.cmmatch_awayscore {
    background: #ff0000;
    font-size: 2em;
    width: 75px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    float: left;
}

}

.cmmatch_location {
}

.cmmatch_status {
}
