<?xml version="1.0" encoding="utf-8"?>
<config>
  <fieldset name="component" label="COM_CLUBMANAGER_COMPONENT_LABEL" description="COM_CLUBMANAGER_COMPONENT_DESC">
  </fieldset>

  <fieldset 
    name="permissions" 
    label="JCONFIG_PERMISSIONS_LABEL" 
    description="JCONFIG_PERMISSIONS_DESC"
    >
    <field 
      name="rules" 
      type="rules" 
      component="com_clubmanager"
      filter="rules"
      validate="rules"
      label="JCONFIG_PERMISSIONS_LABEL"
      section="component" 
    />
  </fieldset>
  
</config>